@using CitadellesDotIO.DeckAssembly.EventArgs.DraggableEventArgs
@using CitadellesDotIO.DeckAssembly.Model
@inherits DraggableContainerComponent
@inject IJSRuntime JS;

<RadzenStack style="width: 100%; height: 30vh;" JustifyContent="JustifyContent.Stretch" Gap="0px">

    <CardItemList @ref=IdleHand Id=@nameof(IdleHand) Cards=IdleHandValue CssClasses="new(){IdleHandDropzoneClassName}" CardClasses=cardClasses />
    <RadzenRow>
        <p>
            FutureDropIndex :
            <RadzenText Text=@FutureDropIndex.ToString() TextStyle="TextStyle.DisplayH4" />
        </p>
        <p>
            CurrentSource :
            <RadzenText Text=@CurrentSource?.Id.ToString() TextStyle="TextStyle.DisplayH4" />
        </p>
        <p>
            CurrentHoverTarget :
            <RadzenText Text=@CurrentHoverTarget?.Id.ToString() TextStyle="TextStyle.DisplayH4" />
        </p>
    </RadzenRow>

</RadzenStack>


@code {

    private static string IdleHandDropzoneClassName => "idleHandDropzone";
    private List<string> cardClasses = new() { "idleHandDraggable" };

    [Parameter]
    public List<Card> IdleHandValue { get; set; }
    private CardItemList IdleHand { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }


        BlazorComponent = DotNetObjectReference.Create(this as DraggableContainerComponent);

        try
        {
            await JS.InvokeVoidAsync("setupDraggablesV2", ".idleHandDraggable", "." + IdleHandDropzoneClassName, BlazorComponent);
            await JS.InvokeVoidAsync("setupDropzonesV2", "." + IdleHandDropzoneClassName, BlazorComponent);
        }
        catch (Exception ex)
        {

        }
    }

    [JSInvokable(nameof(OnDraggableDragStart))]
    public override async Task OnDraggableDragStart(DraggableDragStartEventArgs args)
    {
        this.CurrentSource = IdleHand;
        await base.OnDraggableDragStart(args);
    }

    [JSInvokable(nameof(OnDraggableDropzoneEnter))]
    public override async Task OnDraggableDropzoneEnter(DraggableDropzoneEnterEventArgs args)
    {
        this.CurrentHoverTarget = IdleHand;
        await base.OnDraggableDropzoneEnter(args);
    }

    // [JSInvokable(nameof(OnDraggableDrop))]
    // public override async Task OnDraggableDrop(DraggableDropEventArgs args)
    // {
    // }
}

