@{
    ViewData["Title"] = "Home Page";
}

<div id="centerDiv" class="text-center">
    <button id="createLobbyButton">
        Create new lobby
    </button>
    <div id="lobbiesDiv"></div>
</div>


<script type="text/javascript" src="/lib/microsoft/signalr/dist/browser/signalr.js">
</script>
<script type="text/javascript" src="~/js/lobbies.js">
</script>